<div class="row header">
  <h2 class="text-center">Weather Check</h2>
  <div class="spinner">
    <ng-content *ngIf="!(isLoading$ | async); else spinner"></ng-content>
    <ng-template #spinner>
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-spinner [diameter]="25"></mat-spinner>
      </div>
    </ng-template>
  </div>
</div>

<div class="alert alert-danger" *ngIf="errorMessage$ | async as error">
  <p>{{ error.message }}</p>
</div>


<form class="container" [formGroup]="weatherForm">
  <div formArrayName="locations">
    <div class="row justify-content-center"
         *ngFor="let location of weatherForm.get('locations')['controls']; let i = index"
         [formGroupName]="i">

      <mat-form-field class="col-4">
        <mat-label>City</mat-label>
        <mat-select formControlName="city" required (infiniteScroll)="getNextBatch()" [complete]="offset === cities.length" msInfiniteScroll>
          <mat-option *ngFor="let option of options$ | async " [value]="option.key">{{option.value}}</mat-option>
        </mat-select>
        <mat-error *ngIf="location.hasError('required',['city'])">Please choose city</mat-error>
      </mat-form-field>

      <mat-form-field class="col-4">
        <mat-label>Unit</mat-label>
        <mat-select formControlName="unit" required>
          <mat-option *ngFor="let label of keys(unitsLabels)" [value]="unitsLabels[label]">
            {{label}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="location.hasError('required',['unit'])">Please choose units</mat-error>
      </mat-form-field>

      <div class="add-location-btn" (click)="addLocationFormGroup(i)">
        <fa-icon icon="plus" size="lg"></fa-icon>
      </div>
      <div class="col-12 d-flex justify-content-around" style="height: 100px" *ngIf="citiesDetails$ | async as citiesDetails">
        <span class="d-flex align-items-center">{{(citiesDetails)[i]?.cityName }} </span>
        <span class="d-flex align-items-center">{{(citiesDetails)[i]?.temperature }}</span>
        <span class="d-flex align-items-center" *ngIf="(citiesDetails)[i]?.cityName">;</span>
        <img *ngIf="(citiesDetails)[i]?.cityName" src='{{ "http://openweathermap.org/img/wn/" + (citiesDetails)[i]?.weatherIcon + "@2x.png"}}' />
      </div>
    </div>
  </div>
</form>




