@import '~src/assets/variables';

:host {
  .container{
    overflow-y: scroll;
    height: 45vh;
    max-height: 45vh;
  }
  .add-location-btn{
    display: flex;
    align-items: center;
    cursor: pointer;
  }



}
