@import '~src/assets/variables';

:host {
  .header{
    justify-content: center;
  }
  .container{
    overflow-y: scroll;
    height: 48vh;
    max-height: 48vh;
  }
  .add-location-btn{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .spinner{
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }



}
